{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}
<p class="h10" >
    <h3 style ="margin-left: 20px;">
        <small class="text-muted">
             About</small>
    </h3>
    <p style ="margin-left: 20px;" class="lead">
        This is a todo app, where you can create, read, update and delete records {Tasks} according to your preference.
        <br> Tech stacks that I have used to build this projects are:
        <ul style ="margin-left: 20px;">
            <li>
                Flask
            </li>
            <li>
                Python 
            </li>
            <li>
                HTML
            </li>
            <li>
                Bootstrap
            </li>
            <li>
                Javascript
            </li>
        </ul>
    </p>
</p>
{% endblock body %}